<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="../static/css/about.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/vue.js"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/header.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<header-item></header-item>
			</div>
			<div class="bry_babout_img">
				<img src="../assets/icon/bry_about.png" />
			</div>
			<div class="inner">
				<div class="bry_babout_item clearfix">
					<div class="bry_babout_left">
						<p>About Us</p>
						<span>关于我们</span>
					</div>
					<div class="bry_babout_right">
						<p>2004年，中共中央、国务院《关于进一步加强和改进未成年人思想道德建设的若干意见》指出,抓好未成年人思想道德建设,除了应该对未成年人进行深入的爱国主义、集体主义、社会主义、中华民族精神教育和公民道德教育外,
						有针对性地进行青少年性教育也是不可忽视的一个方面。</p>
						<p>2016年，党中央国务院印发《“健康中国2030”规划纲要》，指出强化社会综合治理，以青少年、育龄妇女及流动人群为重点，开展性道德、性健康和性安全宣传教育和干预，
						加强对性传播高危行为人群的综合干预，减少意外妊娠和性相关疾病传播。</p>
						<p>重庆思无邪网络科技有限公司深入贯彻党中央国务院关于全民健康的发展战略，以性教育为核心，整合学校、医院、科研院所和公益机构，打造权威、通俗、公益的性教育平台，通过微课、公开课、电子图书、互动问答、动画、公益热线、进校园活动等多种形式，传播与性有关的生理学、心理学、
						教育学和社会学等学科知识，推动中国性教育走向科学化、体系化、规范化、普及化、大众化，提高全民健康水平。</p>
						<p>目前，公司已经与重庆儿童救助基金会、西南大学、保护豆豆等公立机构和公益组织签订了合作协议，下一步还将进一步携手更多专业机构，传播权威知识，解决社会热点问题，为促进社会和谐发展做出不懈努力。</p>
					</div>
				</div>
				<div class="bry_babout_item clearfix">
					<div class="bry_babout_left">
						<p>Projects</p>
						<span>项目</span>
					</div>
					<div class="bry_babout_right">
						<p>“彼若鱼”是针对儿童、青少年、大学生、成人和家长进行性教育服务的平台。</p>
					</div>
				</div>
				<div class="bry_babout_item clearfix">
					<div class="bry_babout_left">
						<p>Contact us</p>
						<span>联系我们</span>
					</div>
					<div class="bry_babout_right">
						<p>咨询热线：400******</p>
						<p>TEL：023-63413477</p>
						<p>Add：重庆市两江新区星光大道62号海王星科技大厦E区604室重庆市渝北区两江新区</p>
					</div>
				</div>
			</div>
			<div class="bry_footer">
				<div class="inner">
					<div class="bry_footer_nav">
						<ul class="clearfix">
							<li><a href="index.html">首页</a></li>
							<li><a href="bry_information.html">资讯</a></li>
							<li><a href="bry_Movies.html">视频</a></li>
							<li><a href="bry_audioFrequency.html">音频</a></li>
							<li><a href="bry_forum.html">论坛</a></li>
							<li><a href="encyclopedias.html">百科</a></li>
							<li><a href="book.html">电子书</a></li>
							<li><a href="about.html">关于我们</a></li>
						</ul>
					</div>
					<div class="bry_copy_msg clearfix">
						<div class="fl">
							<img src="../assets/icon/footer/official_account.gif" >
							<div class="tc">关注公众号</div>
						</div>
						<div class="fl">
							<img src="../assets/icon/footer/phone_code.gif" >
							<div class="tc">手机网站</div>
						</div>
						<div class="bry_copyright fl">
							<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
							<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
							<div>All Rights Reserved, Copyright 2019-2020</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: "#app"
		})
	</script>
</html>
