<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_lecturer.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<meta charset="utf-8">
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>
		<title>讲师</title>
	</head>
	<body>
		<div id="app">
			
		
		<div id="header">
			<header-item></header-item>
		</div>
		<!-- 主题内容 -->
		<div class="bry_main">
			<!-- 核心 -->
			<div class="bry_inner clearfix">
				<!-- 左半部分 -->
				<div class="bry_mainLeft"> 
					<!-- 教授专家 -->
					<div class="bry_mainLeft_Professors bry_mainLeft_Lecturer ">
						<span>教授专家</span>
						<!-- 教授专家列表 -->
						<ul class="bry_mainLeft_LecturerList clearfix">
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
						</ul>
						<!-- 跳转页面  -->
						<div class="bry_main_JumpPage">
							<ul class="bry_main_JumpPage_list clearfix">
								<li class="bry_main_JumpPage_listType1">首页</li>
								<li class="bry_main_JumpPage_listType1">上一页</li>
								<li class="bry_main_JumpPage_listType3">1</li>
								<li class="bry_main_JumpPage_listType2">2</li>
								<li class="bry_main_JumpPage_listType2">3</li>
								<li class="bry_main_JumpPage_listType2">4</li>
								<li class="bry_main_JumpPage_listType1">...</li>
								<li class="bry_main_JumpPage_listType1">跳至
									<input type="number"  value="" />
									页
								</li>
								<li class="bry_main_JumpPage_listType1">下一页</li>
								<li class="bry_main_JumpPage_listType1">尾页</li>
							</ul>
						</div>
					</div>
					<!-- 优秀讲师 -->
					<div class="bry_mainLeft_ExcellentLecturer bry_mainLeft_Lecturer">
						<span>优秀讲师</span>
						<!-- 优秀讲师列表 -->
						<ul class="bry_mainLeft_LecturerList clearfix">
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
							<li class="bry_mainLeft_LecturerLi"><a href="">
								<!-- 教师图片 -->
								<div class="bry_mainLeft_Lecturer_pictureBox">
									<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
								</div>
								<!-- 教师姓名 -->
								<span class="bry_mainLeft_LecturerName">马晓年</span>
							</a></li>
						</ul>
						<!-- 跳转页面  -->
						<div class="bry_main_JumpPage">
							<ul class="bry_main_JumpPage_list clearfix">
								<li class="bry_main_JumpPage_listType1">首页</li>
								<li class="bry_main_JumpPage_listType1">上一页</li>
								<li class="bry_main_JumpPage_listType3">1</li>
								<li class="bry_main_JumpPage_listType2">2</li>
								<li class="bry_main_JumpPage_listType2">3</li>
								<li class="bry_main_JumpPage_listType2">4</li>
								<li class="bry_main_JumpPage_listType1">...</li>
								<li class="bry_main_JumpPage_listType1">跳至
									<input type="number"  value="" />
									页
								</li>
								<li class="bry_main_JumpPage_listType1">下一页</li>
								<li class="bry_main_JumpPage_listType1">尾页</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 右半部分 -->
				<div class="bry_mainRight">
					<ul class="bry_mainRight_ShowTeacherList">
						<li class="bry_mainRight_ShowTeacherLi"><a href="">
							<div class="bry_mainRight_ShowTeacherLi_picture">
								<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
							</div>
							<div class="bry_mainRight_ShowTeacherLi_text">
								<span>马晓年</span>
								<span>世界华人性学家协会副会长</span>
								<span>中国抗衰老促进会创新与应用分会副会长</span>
								<span>美国旧金山人类高级性学院客座教授</span>
								<span>中华性学研究院院长</span>
								<span>北京性健康教育研究会副会长</span>
							</div>
						</a></li>
						<li class="bry_mainRight_ShowTeacherLi"><a href="">
							<div class="bry_mainRight_ShowTeacherLi_picture">
								<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
							</div>
							<div class="bry_mainRight_ShowTeacherLi_text">
								<span>马晓年</span>
								<span>世界华人性学家协会副会长</span>
								<span>中国抗衰老促进会创新与应用分会副会长</span>
								<span>美国旧金山人类高级性学院客座教授</span>
								<span>中华性学研究院院长</span>
								<span>北京性健康教育研究会副会长</span>
							</div>
						</a></li>
						<li class="bry_mainRight_ShowTeacherLi"><a href="">
							<div class="bry_mainRight_ShowTeacherLi_picture">
								<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
							</div>
							<div class="bry_mainRight_ShowTeacherLi_text">
								<span>马晓年</span>
								<span>世界华人性学家协会副会长</span>
								<span>中国抗衰老促进会创新与应用分会副会长</span>
								<span>美国旧金山人类高级性学院客座教授</span>
								<span>中华性学研究院院长</span>
								<span>北京性健康教育研究会副会长</span>
							</div>
						</a></li>
						<li class="bry_mainRight_ShowTeacherLi"><a href="">
							<div class="bry_mainRight_ShowTeacherLi_picture">
								<img src="../assets/img/bry_mainLeft_LecturerLi1.png" >
							</div>
							<div class="bry_mainRight_ShowTeacherLi_text">
								<span>马晓年</span>
								<span>世界华人性学家协会副会长</span>
								<span>中国抗衰老促进会创新与应用分会副会长</span>
								<span>美国旧金山人类高级性学院客座教授</span>
								<span>中华性学研究院院长</span>
								<span>北京性健康教育研究会副会长</span>
							</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif" >
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif" >
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
