<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_encyc_info.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_consu_info.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
		<header-item></header-item>
		
		<div class="bry_encyc_content">
			<div class="inner clearfix">
				<div class="bry_encyc_path">首页  >> 资讯  >>  中国有性史</div>
				<div class="fl">
					<div class="bry_encyc_article">
						<div class="bry_encyc_article_title">中国有性史</div>
						<div class="bry_encyc_article_msg">
							<span>作者：彼若鱼</span>
							<span>来源：8字路口</span>
							<span>更新日期：2019-12-30 15:43:36</span>
							<span>浏览次数：1008</span>
						</div>
						<p>1926年的5月份，位于上海四马路（如今的福州路）的光华书局，可是忙坏了。</p>
						<p>大量的顾客挤在不大的屋子里，抢着要买一本书。门外还不断有人往里面挤，把道路都给堵塞了。租界的警察不得不拿起水管冲散人群，以维持秩序。</p>
						<p>这样的盛况，就是后来的上海畅销作家小韩、小郭，都比不上。</p>
						<p>到底是啥书，这么吸引人呢？就是北大教授张竞生编的《性史》。</p>
						<p>这是一本非虚构作品，所谓的“史”并不是历史，而是“经历”的意思，书中讲的是7个人真实的性体验。</p>
						<div class="bry_encyc_sex_book"><img src="../assets/img/bry_consu_info/bry_consu_info_book1.gif" ></div>
						<p>《性史》当年的封面。就是放在今天，也不落伍。</p>
						<p>也难怪，书里的故事，画面感太强了。比如首篇，名叫一舸女士的作者就这样写道：</p>
						<p>生产过后，性欲亢进，初满一百天，已觉十分需要。於是我第一次作了主动，口口口口口口口口口口口口口口口口口口口口口口口口口口口口口口口口……（此处删去若干文字，请自行脑补。）</p>
						<p>但很多东西，一旦出名了，往往也意味着争议。没过多久，南开中学的校长张伯苓，看到自己的学生在课堂上看《性史》，这还了得，立刻就给警察厅告了状，说这是淫书，要查封。</p>
						<p>于是，这本书就陆续在全国被禁了。出续集的计划，也不可能实现了。张教授也因为这事搞得声名狼藉，别人还给他起了个绰号，叫“卖春博士”。也就是说，教授，变成了“叫兽”。</p>
						<p>但是，对于书商来说，可不想放过这么好的商机。他们继续假借“性史”之名，私自出版了大量的盗版作品，还有《性史外集》、《性史补》等。就像后来的“金庸巨著”“金庸新著”。</p>
						<p>张教授去世多年后，有一次，他的儿子去香港，竟然在书摊上看到了《性史》的第18集。</p>
						<p>这种待遇，其实并不奇怪。</p>
						<p>性在中国，一直处于这样一个状态：人民群众对性的需求与制度无法满足这一需求之间的矛盾。</p>
						<p>鲁迅老师就说，张教授的理念想要被接受，恐怕得到25世纪。</p>
						<p>幸运的是，现在才21世纪，就有了一些变化。</p>
						<div class="bry_encyc_sex_book"><img src="../assets/img/bry_consu_info/bry_consu_info_room.gif" ></div>
					</div>
					<div class="bry_encyc_choice clearfix">
						<div class="bry_encyc_fs fl">
							<span>字号</span>
							<span>放大A<sup>+</sup></span>
							<span><sup>缩小</sup>A<sup>-</sup></span>
						</div>
						<div class="bry_encyc_pages fr">
							<ul class="clearfix">
								<li>首页</li>
								<li>上一页</li>
								<li>&lt;</li>
								<li class="active"><button>1</button></li>
								<li><button>2</button></li>
								<li><button>3</button></li>
								<li><button>4</button></li>
								<li>…</li>
								<li>></li>
								<li>下一页</li>
								<li>尾页</li>
							</ul>
						</div>
					</div>
					<div class="bry_encyc_share">
						<div>分享到:
							<img src="../assets/icon/bry_encyc/bry_encyc_qq.png" >
							<span>QQ好友和群</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_qqzone.png" >
							<span>QQ空间</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_txblog.png" >
							<span>腾讯微博</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_wechat.png" >
							<span>微信朋友</span>
						</div>
						<div class="clearfix">
							<div class="active"><img src="../assets/icon/bry_encyc/bry_encyc_comment.png" >评论</div>
							<div><img src="../assets/icon/bry_encyc/bry_encyc_collection.png" >收藏</div>
							<div><img src="../assets/icon/bry_encyc/bry_encyc_share.png" >分享</div>
						</div>
					</div>
				</div>
				<div class="bry_encyc_class fr">
					<ul>
						<li class="bry_encyc_fr_title">新  闻</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
					</ul>
					<ul>
						<li class="bry_encyc_fr_title">产  业</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
					</ul>
					<ul>
						<li class="bry_encyc_fr_title">科  技</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
					</ul>
					<ul>
						<li class="bry_encyc_fr_title">政  策</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
						<li>◆ 85万艾滋病感染者请注意</li>
						<li>◆ 中国有性史</li>
						<li>◆ 你以为子宫只是一个生殖器官？</li>
						<li>◆ 2019都市青年性生活图鉴</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif" >
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif" >
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
